################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIMonitorWorkerService/bin/Debug/net8.0
/APIMonitorWorkerService/obj
APIMonitorWorkerService/bin